.slider__divider {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;

  .slider__handle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.76);

    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
}