@import "variables";
@import "reset";
@import "base";
@import "header";


.text {
  font-size: 20px;
  div {
    .red {
      color:red;
    }
    &.red {
      color: red;
    }
  }
}

//@MIXIN

//ex1
@mixin text {
  font-family: serif;
  color: red;
  font-size: 20px;
  line-height: 1.5;
}

.article {
  text-align: justify;
  @include text;
}

//ex2
@mixin position($type, $top, $right, $bottom, $left) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  @include position(absolute, auto, 10px, 10px, auto);
}

//ex3 

@mixin margin($vertical: 20px, $horizontal: 40px) {
  margin: $vertical $horizontal;
}

div {
  @include margin(20px);
}


//ex4

@mixin title($font-size: 2rem, $color: red) {
  font-size: $font-size;
  color: $color;
}

div {
  @include title($color: blue);
}

//ex5

@mixin title2($font-size: 2rem) {
  font-size: $font-size;
  @content;
}

h2 {
  @include title2(1.5rem) {
    line-height: 2;
    color: yellow;
  }
}


//@EXTEND

//ex1

.text {
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: darkblue;
}

.article__text {
  @extend .text;
}

.footer__copyright {
  @extend .text;
  font-size: 22px;
}


//ex2

%flex-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  @extend %flex-list;
  list-style: none;
}

.news {
  border: 1px solid black;
  flex-direction: column;
  @extend %flex-list;
}


//CALCULATIONS

//ex1

$page-margin: 20px;
$margin-increase: 2;

.menu__item {
  margin: $page-margin + 20px/2 * $margin-increase;
}

//INTERPOLATION

//ex1 

$class-font-small: sm;

p.#{$class-font-small} {
  font-size: 10px;
}


//COLORS

//ex1

p {
  color: mix($color: yellow, $color: blue)
}