body {
  display: flex;
  margin: 0;
  background-color: #111;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.typing {
  width: 50%;
  font-family: "Robot Mono", sans-serif;
  font-size: 40px;
  color: greenyellow;
  font-weight: 700;
}

.robot {
  box-sizing: border-box;
  width: 30%;
  padding: 3%;
}

.typing p {
  margin: 0;
  line-height: 150%;
  text-shadow: 0 0 2px greenyellow;
}

.typing p::before {
  content: "> ";
}

.typing p:nth-last-of-type(1)::after {
  content: "_";
  animation: cursor .3s infinite alternate;
}

@keyframes cursor {
  0%, 30% {
    opacity: 0;
  }
  70%, 100% {
    opacity: 1;
  }
}