.spinner {
  height: 50px;
  width: 50px;
  margin: 20px;
  border-radius: 50%;
  border-top: 5px solid #ccc;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  border-left: 5px solid black;
}

.v2 {
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}